# MongoDB Atlas connection string
MONGO_URI=

# MongoDB database name
DATABASE_NAME=citifix

# Secret key used to sign JWT authentication tokens
SECRET_KEY=

# Admin account email
ADMIN_EMAIL=

# Admin account password
ADMIN_PASSWORD=